.header {
    background-color: var(--gray-700);
    width: auto;
    height: 80px;

    font-size: 18px;
    font-weight: bold;

    display: flex;
    align-items: center;
    justify-content: space-around;
}

.img {
    width: 100px; 
    height: auto; 
}



.nav{
    display: flex;
    align-items: center;
    gap: 72px;
}

a{
    text-decoration: none;
    color: var(--blue);
}

a:hover{
    cursor: pointer;
}

.cadastro{
    width: 127px;
    font-weight: 700;
}

.buttons{
    display: flex;
    gap: 25px;
}


.align_header{
    display: flex;
    justify-content: space-evenly;

}